<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2019 Epic Games, Inc. All Rights Reserved.
  -->

<configuration>

  <!-- Capture JUL logs -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <!-- Log into Console -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%nopex</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
  </appender>

  <!-- Send messages to a file at "gatling.log" -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>gatling.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>gatling.%i.log.zip</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
    <!--<appender-ref ref="FILE" />-->
  </root>

</configuration>
